{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    // Only ESLint 6.2.0 and later support ES2020.
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "node": true
  },
  "rules": {
    "strict": 0,
    "node/prefer-global/url-search-params": [
      "error",
      "always"
    ]
  }
}
