{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    // Only ESLint 6.2.0 and later support ES2020.
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 6,
    "allowImportExportEverywhere": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "strict": 0
  }
}
