/**********************
  Buttons
**********************/

.usa-button {
  background: $lochmara;
  width: 140px;

  &.hollow {
    background-color: $white;
    border: 1px solid $cornflower;
    color: $cornflower;

    &:hover {
      border: 1px solid $lochmara;
      color: $lochmara;
    }
  }
}

.status-wrapper {
  button {
    cursor: default;
  }
}

.status {
  border-radius: 500px;
  font-size: 0.9rem;
  font-weight: $font-weight-normal;
  line-height: 1.1rem;
  margin: 0.6rem 0;
  min-height: 58px;
  width: 160px;

  &.status-in_progress {
    background-color: $dixie;

    &:hover {
      background-color: darken($dixie, 20%);
    }
  }

  &.status-complete {
    background-color: $sea-green;

    &:hover {
      background-color: darken($sea-green, 20%);
    }
  }

  &.status-final {
    background-color: $bahama;

    &:hover {
      background-color: darken($bahama, 20%);
    }
  }

  &.status-not_started {
    background-color: $bombay;

    &:hover {
      background-color: darken($bombay, 20%);
    }
  }

  &.status-provisional {
    background-color: $cerulean;

    &:hover {
      background-color: darken($cerulean, 20%);
    }
  }

  &.status-notapplicable {
    background-color: $bombay;

    &:hover {
      background-color: darken($bombay, 20%);
    }
  }
}
