/**********************
  FORM
**********************/

.searchable {
  .searchable-input {
    .searchable-input-control {
      input {
        background-color: $white;
        border: 1px solid $color-gray-light;
        color: $black;
      }
    }
  }

  .searchable-list {
    background: $white;

    .searchable-list-item {
      color: $black;

      &:hover {
        background: $color-gray-light;
        color: $white;
      }
    }
    .searchable-list-item__active {
      color: $color-gray-light;
    }
  }
}

.dropdown-container {
  .dropdown-content {
    z-index: 999;
  }
}

.searchable,
.multi-select {
  max-width: 320px;
}

.edit-user {
  label {
    display: block;
    font-weight: $font-weight-normal;
  }
  .dropdown,
  .textfield {
    margin-bottom: 1.2rem;
  }
}

.state-select-list > div {
  min-height: 32px;
}

.form-header {
  margin-bottom: 2rem;
  padding-left: 0.2rem;

  .upper-form-nav {
    margin-bottom: 1.2rem;

    .upper-form-links {
      text-decoration: none;
      margin-right: 0.2rem;
    }
  }

  .form-description-bar {
    h5 {
      margin-bottom: 0.25rem;
    }

    .form-name {
      margin-top: 2.5rem;
      text-align: left;
    }
    .form-description {
      margin-top: 1.5rem;
    }

    hr {
      margin-top: 0;
      margin-bottom: 0;
      border: 0;
      clear: both;
      display: block;
      width: 100%;
      background-color: black;
      height: 1px;
    }
  }

  .program-code-bar {
    margin-top: 1.2rem;
    width: 20rem;
  }
}
