/**********************
  FORM
**********************/

.searchable {
  .searchable-input {
    .searchable-input-control {
      input {
        background-color: $white;
        border: 1px solid $color-gray-light;
        color: $black;
      }
    }
  }

  .searchable-list {
    background: $white;

    .searchable-list-item {
      color: $black;

      &:hover {
        background: $color-gray-light;
        color: $white;
      }
    }
    .searchable-list-item__active {
      color: $color-gray-light;
    }
  }
}

.dropdown-container {
  .dropdown-content {
    z-index: 999;
  }
}

.searchable,
.multi-select {
  max-width: 320px;
}

.edit-user {
  label {
    display: block;
    font-weight: $font-weight-normal;
  }
  .dropdown,
  .textfield {
    margin-bottom: 1.2rem;
  }
}
