/**********************
  HEADER
**********************/

.header {
  .gov-info {
    background: $color-gray-lightest;
    color: $color-gray-dark;
    font-size: 0.85rem;
    padding: .1rem 0 .3rem;

    img {
      margin-top: 0;
      max-height: 18px;
      padding-top: 0;
    }

    .flag, .flag-copy {
      display: inline-block;
    }

    .flag {

    }
    .flag-copy {
      padding-left: .2rem;
    }
  }

  .navigation {
    background: $brand-secondary;

    a {

      &:link, &:visited {
        color: $white;
      }

      &:hover {
        background: none;
        color: darken($white, 20)
      }

      &:active {
        background: none;
      }

    }
    ul {
      background: $brand-secondary;
      color: $white;
    }

    .collapse {
      display: block;
    }
  }

  .nav .open>a {
    background: $brand-secondary;
  }

  .page-title {
    background: $brand-primary;
    padding: .6rem 0;

    h1 {
      color: $white;
    }
  }
}
