.idea/
.infra
.dynamodb
.yarn_install
node_modules
testcafe_results
.DS_Store
build_run
tsconfig.tsbuildinfo
/.env
tests_output
*.log
tests/cypress/videos
tests/cypress/screenshots
tests/cypress/downloads
.vscode
/.cdk
cdk.context.json
/cli/dist
