.idea/
.infra
.dynamodb
.yarn_install
node_modules
testcafe_results
.DS_Store
build_dev
tsconfig.tsbuildinfo
/.env
tests_output
*.log
tests/cypress/videos
tests/cypress/screenshots
tests/cypress/downloads
/.cdk
cdk.context.json
**/.yarn/*
services/ui-src/public/env-config.ts
.vscode/settings.json
