$mdct-gray: #f2f2f2;
$mdct-dark-gray: #71767a;
$mdct-light-blue: #e6f9fd;
$mdct-white: #fff;

.grid-header {
  border: solid 1px #000;
  width: 20%;
  padding: 1em;
  text-align: center;
}

.grid-with-totals {
  table {
    tr th:first-child {
      width: 20%;
      min-width: 20%;
      word-break: break-all;
      font-weight: bold;
    }
    tr th:last-child {
      width: 5%;
    }
    width: 95%;
  }
  th {
    font-weight: bold;
    background: $mdct-gray !important;

    span {
      display: block;
      width: 70px;
    }
  }

  .total-header-cell {
    background: $mdct-dark-gray !important;
    color: $mdct-white;
  }

  .total-column {
    background: $mdct-light-blue;
    font-weight: bold;
  }
  .synthesized {
    border: none;
    position: relative;
    background-color: white;
  }
}
