.save-error,
.save-success {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -30%;
  z-index: 999;
  width: 60%;
}

.action-button {
  margin: 0.6rem 0rem 2rem 5rem;
}

.fpl-input-container {
  display: flex;
  align-items: center;

  input {
    margin: 0;
  }
  button {
    width: fit-content;
    margin-left: 0.5rem;
  }
}
