.Profile {
  .grid-container {
    padding: 0;
    width: 100%;
  }
  .ds-c-field {
    width: 100%;
    height: 34px;
    margin: 0 0 1rem 0;
    padding: 6px 12px;
  }
  .ds-c-inline-error {
    display: none;
  }
}
