.center-content {
  .usa-table {
    border: ridge 1px;
    th {
      width: 15em !important;
    }
    td {
      width: 25em;
      text-align: left;
    }
  }
}

.action-buttons {
  margin-top: 3em;
}
