service: ui-src

frameworkVersion: "4"

plugins:
  - serverless-s3-sync
  - serverless-plugin-scripts
  - serverless-stack-termination-protection
  - serverless-cloudfront-invalidate

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stackTags:
    PROJECT: ${self:custom.project}
    SERVICE: ${self:service}

custom:
  project: "seds"
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}
  serverlessTerminationProtection:
    stages: # This is a list of common names for important envs that should not be destroyed.  You can remove the stage names your project doesn't use; this list is meant to be inclusive.
      - master
      - val
      - production
      - develop
      - main
      - impl
      - val
      - prod
  api_region: ${param:ApiRegion}
  api_url: ${param:ApiGatewayRestApiUrl}
  cognito_region: ${param:CognitoRegion}
  cognito_identity_pool_id: ${param:IdentityPoolId}
  cognito_user_pool_id: ${param:UserPoolId}
  cognito_user_pool_client_id: ${param:UserPoolClientId}
  cognito_user_pool_client_domain: ${param:UserPoolClientDomain}
  ui_s3_bucket_name: ${param:S3BucketName}
  ui_cloudfront_distribution_id: ${param:CloudFrontDistributionId}
  application_endpoint_url: ${param:ApplicationEndpointUrl}

  s3Sync:
    - bucketName: ${self:custom.ui_s3_bucket_name}
      localDir: ./build
      deleteRemoved: true
  cloudfrontInvalidate:
    distributionId: ${self:custom.ui_cloudfront_distribution_id}
    items:
      - "/*"
  scripts:
    hooks:
      # Build the static archive and populate the config
      package:initialize: |
        cd services/ui-src/
        set -e
        yarn run build
        export API_REGION=${self:custom.api_region}
        export API_URL=${self:custom.api_url}
        export COGNITO_REGION=${self:custom.cognito_region}
        export COGNITO_IDENTITY_POOL_ID=${self:custom.cognito_identity_pool_id}
        export COGNITO_USER_POOL_ID=${self:custom.cognito_user_pool_id}
        export COGNITO_USER_POOL_CLIENT_ID=${self:custom.cognito_user_pool_client_id}
        export COGNITO_USER_POOL_CLIENT_DOMAIN=${self:custom.cognito_user_pool_client_domain}
        export COGNITO_REDIRECT_SIGNIN=${self:custom.application_endpoint_url}
        export COGNITO_REDIRECT_SIGNOUT=${self:custom.application_endpoint_url}
        export LOCAL_LOGIN=false
        export STAGE=${self:custom.stage}
        ./env.sh
        cp public/env-config.js build/env-config.js
resources:
  Resources:
    Honk: # this is just because it won't deploy unless we have some resource being created
      Type: AWS::SSM::Parameter
      Properties:
        Type: String
        Value: "honk"
