.form-max-fpl {
  border: 1px solid black;
  margin: 2.2rem auto;
  padding: 0.6rem;
  background: #eee;
  width: 95%;

  .fpl-input,
  .fpl-button {
    float: left;
  }

  .fpl-button {
    margin-left: 0.6rem;
  }
}
