/**********************
  FOOTER
**********************/
.footer {
  background: $brand-tertiary;
  display: flex;
  flex-direction: column;
  z-index: 2;

  .container {
    width: 100%;
    padding: 2rem;
  }

  .logo {
    margin-bottom: 1.2rem;

    ul {
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;
        margin-left: 0;
        padding-right: 0.4rem;

        img {
          max-height: 50px;
        }

        &:last-of-type {
          img {
            max-height: 80px;
          }
        }
      }
    }
  }

  .tagline {
    color: $brand-primary;
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman",
      "Times", serif;
  }

  .info {
    clear: both;
    font-size: 0.75rem;
    text-align: right;

    .title {
      float: right;
      max-width: 274px;
    }

    .address {
      float: right;
      font-weight: $font-weight-light;
      clear: both;
    }
  }

  .footer-nav {
    float: right;
    padding-bottom: 1.2rem;
    .usa-footer__nav {
      font-size: 0.85rem;
      padding-right: 0;
      text-align: right;

      li {
        border-left: 1px solid $black;

        &:first-of-type {
          border-left: none;
        }

        a {
          font-weight: $font-weight-normal;
          padding: 0;
          text-decoration: underline;
        }
      }
    }
  }
  .address {
    background-color: $brand-primary;
    color: white;
    padding: 0.75rem 2rem;
    text-align: right;
    font-weight: bold;
  }
}
