/**********************
  FOOTER
**********************/
.footer {
  background: $brand-tertiary;
  display: flex;
  flex-direction: column;
  z-index: 2;

  .footerTopContainer {
    display: flex;
    flex: 0 0 50%;
    min-width: 100%;
    .desktop & {
      min-width: auto;
    }
  }

  
  .footerTopLeftContainer {
    display: flex;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 1em;
    .desktop & {
      margin-bottom: 0;
      max-width: 50%;
      min-width: auto;
    }
  }
  
  .sedsLogo {
    max-height: 4.875rem;
    margin: 0 auto;
    .desktop & {
      margin: 0;
    }
  }

  .footerTopRightTopFlex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .desktop & {
      justify-content: flex-end;
      flex-direction: row;
    }
  }
  
  .tagline {
    color: $brand-primary;
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman",
      "Times", serif;
  }

  .info {
    clear: both;
    font-size: 0.75rem;
    text-align: right;

    .address {
      float: right;
      font-weight: $font-weight-light;
      clear: both;
    }
  }

  .footer-nav {
    float: right;
    padding-bottom: 1.2rem;
    .usa-footer__nav {
      font-size: 0.85rem;
      padding-right: 0;
      text-align: right;

      li {
        border-left: 1px solid $black;

        &:first-of-type {
          border-left: none;
        }

        a {
          font-weight: $font-weight-normal;
          padding: 0;
          text-decoration: underline;
        }
      }
    }
  }
  .address {
    background-color: $brand-primary;
    color: white;
    padding: 0.75rem 2rem;
    text-align: right;
    font-weight: bold;
  }

  .medicaidLogo {
    flex: 0 0 75%;
    max-width: 75%;
    margin-top: 0.25rem;
  }

  .hhsLogo { 
    display: inline-block;
    width: 4.375rem;
  }

  .hhsCopyText {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: sm;
    line-height: 21px;
    margin-top: 0;
    max-width: 274px;
  }
}
