/**********************
  FORM
**********************/

.form-input {
  width: 23em;
}

.Dropdown-control, .usa-input, .rmsc .multi-select{
  border-color: $black;
  border-width: 2px;
}

.searchable {
  .searchable-input {
    border: none;;
    .searchable-input-control {
      input {
        background-color: $white;
        border: 2px solid $black;
        color: $black;
        width: 25em;
      }
    }
  }

  .searchable-list {
    background: $white;
    width: 25em;

    .searchable-list-item {
      color: $black;

      &:hover {
        background: $color-gray-light;
        color: $white;
      }
    }
    .searchable-list-item__active {
      color: $color-gray-light;
    }
  }
}

.dropdown-container {
  .dropdown-content {
    z-index: 999;
  }
}

.edit-user {
  label {
    display: block;
    font-weight: $font-weight-normal;
  }
  .dropdown,
  .textfield {
    margin-bottom: 1.2rem;
  }
}

.state-select-list > div {
  min-height: 32px;
}

.form-header {
  margin-bottom: 2rem;
  padding-left: 0.2rem;
  padding-right: 0;

  .upper-form-nav {
    margin-bottom: 1.2rem;
  }

  .form-description-bar {
    h5 {
      margin-bottom: 0.25rem;
    }

    .form-name {
      margin-top: 2.5rem;
      text-align: left;
    }
    .form-description {
      margin-top: 1.5rem;
    }

    hr {
      margin-top: 0;
      margin-bottom: 0;
      border: 0;
      clear: both;
      display: block;
      width: 100%;
      background-color: black;
      height: 1px;
    }
  }
}

.question-component{
  th, td{
    font-size: 16px;
  }
  th{
    background-color: $alto;
  }
}