/**********************
  GLOBALS
**********************/
img {
  max-width: 100%;
}

.print-only {
  display: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.loader {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.loader-content {
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  left: calc(50% - 120px);
  padding: 1.2rem;
  position: absolute;
  text-align: center;
  top: calc(50% - 80px);
}
.loader-icon {
  animation: spin 2s linear infinite;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3366cc;
  height: 40px;
  margin-left: calc(50% - 16px);
  width: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disclaimer {
  font-weight: lighter;
  margin: 1rem auto 1rem auto;
  text-align: center;
}
