.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;
    min-width: 46rem;
    max-width: 1200px;
    height: 100%;
    padding: 56px;
    align-items: flex-start;

    > h1 {
      width: 100%;
    }

    > div {
      width: 100%;
    }
  }

  .login {
    min-width: 424px;
    max-width: 424px;
    flex-grow: 1;
    gap: 3rem;
    justify-content: center;

    button,
    form,
    input,
    div {
      width: 100%;
    }

    form > div > button {
      margin: 2rem 0;
    }
  }
}

.half-width {
  width: 46rem;
}

//-----------------------
//  Headers
//-----------------------

h1 {
  font-weight: 400;
  font-size: 2em;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  margin: 0;
  font-size: 24px;
}

//-----------------------
//  Tables
//-----------------------

.ds-c-table tbody th {
  font-weight: 700;
}

table {
  border-collapse: collapse;

  &:not(.unstyled) {
    th,
    td {
      border: 1px solid #262626;
      padding: 0.5rem 1rem;
    }
    th {
      background-color: #f2f2f2;
      line-height: 1.3;

      &.total-header-cell {
        background-color: #717698 !important;
        color: white;
        width: 70px;
      }
    }
    tr th:first-child {
      width: 20%;
    }
    td {
      &.total-column {
        background: #e6f9fd;
        font-weight: 700;
      }
      svg {
        font-size: 2.75rem;
      }
      p {
        margin: 0;
      }
    }
    .ds-c-label {
      margin: 0;
    }
  }

  &.unstyled {
    // background-color: red;
    th,
    td {
      border: 1px solid black;
      padding: 0.5rem 1rem;
      border-width: 1px 0;
    }
  }
}

//-----------------------
//  Tags
//-----------------------

select,
input[type="text"] {
  height: 2.5rem;
  width: 100%;
  padding: 8px 32px 8px 8px;
  border: 2px solid #262626;
}

input[type="radio"] {
  min-width: 20px;
  min-height: 20px;
  margin: 0;
}

textarea {
  min-height: 10rem;
}

button {
  svg {
    margin-left: 20px;
  }
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

caption {
  text-align: left;
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

label,
p {
  margin: 0;
}

label {
  font-weight: 700;
}

hr {
  border-top: 1px solid #eee;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
}
a:focus {
  background: transparent;
}

//-----------------------
//  CMSDS overrides
//-----------------------

.ds-c-field {
  max-width: 100%;
  margin-block: 0;
}

.ds-c-usa-banner__header {
  margin: 0;
}

.react-tabs {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.react-tabs__tab-panel {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

//-----------------------
//  Spacing
//-----------------------

.padding-1 {
  padding: 1rem 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-gap-1 {
  @extend .flex-row;
  gap: 1rem;
}

.flex-col-gap-1 {
  @extend .flex-col;
  gap: 1rem;
}

.flex-col-gap-1half {
  @extend .flex-col;
  gap: 1.5rem;
}

.flex-end {
  align-self: flex-end;
}

.flex-start {
  align-self: flex-start;
}

.center {
  align-items: center;
  justify-content: center;
}

//-----------------------
//  Custom
//-----------------------
.question-component {
  border-top: 1px solid;
  padding-top: 2.5rem;
}

.breadcrumbs {
  font-size: 1.04rem;
  font-style: italic;
  color: #565c65;
  text-decoration: underline !important;

  a {
    text-decoration: none;
  }
}

.pill {
  text-align: center;
  color: #fff;
  background-color: #0071bc;
  border-radius: 1.5rem;
  width: 10rem;
  padding: 0.75rem 1.25rem;
  line-height: 1.1rem;
  font-weight: 700;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.radio-fieldset {
  legend {
    font-weight: 800;
  }

  div {
    min-height: 2rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 0.5rem;
  }
}

.form-footer {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;

  div {
    align-items: center;
  }
  button {
    margin-left: 2rem;
  }
}

.form-input-row {
  @extend .flex-row;
  align-items: center;
  input {
    margin-block: 0;
  }
  button {
    margin-left: 2rem;
    height: 40px;
  }
}

.form-button-row {
  @extend .flex-row;

  button:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.disclaimer {
  font-weight: lighter;
  text-align: center;
}
