/**********************
  GLOBALS
**********************/
* {
  box-sizing: border-box;
}

h1 {
  font-weight: $font-weight-normal;
}

h4 {
  color: $brand-primary;
}

img {
  max-width: 100%;
}

.print-only {
  display: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  text-decoration: underline;
}
