/**********************
  GLOBALS
**********************/
* {
  box-sizing: border-box;
}

h1 {
  font-weight: $font-weight-normal;
}

h4 {
  color: $brand-primary;
}

img {
  max-width: 100%;
}

.print-only {
  display: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  text-decoration: underline;
}

//global changes
.ds-c-accordion {
  margin: 2rem 0;
}

.quarterly-items {
  li {
    list-style-type: none;
  }
}

h1 {
  font-size: 32px;
  margin: 40px 0 20px;
}

h2 {
  font-size: 30px;
  margin: 0.8rem 0;
}

h3 {
  font-size: 24px;
  margin: 0.8rem 0;
}

legend {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-radio {
  display: flex;
  height: 24px;
  flex-direction: row;
  margin: 0.5rem 0;

  input,
  label {
    margin: 0;
  }
  input {
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
  }
}

button {
  svg {
    margin-left: 20px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

//page specifica changes
#login {
  form {
    width: 424px;
  }
  .ds-c-field,
  button {
    height: 40px;
    width: 100%;
  }

  button {
    margin: 4rem 0;
  }
}

.Home {
  p:first-of-type {
    padding: 16px 0;
  }
}

.loader {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.loader-content {
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  left: calc(50% - 120px);
  padding: 1.2rem;
  position: absolute;
  text-align: center;
  top: calc(50% - 80px);
}
.loader-icon {
  animation: spin 2s linear infinite;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3366cc;
  height: 40px;
  margin-left: calc(50% - 16px);
  width: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disclaimer {
  font-weight: lighter;
  margin: 1rem auto 1rem auto;
  text-align: center;
}