/**********************
  HEADER
**********************/

.header {
  .logo {
    background-color: #00395e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 2rem;

    .dropdown-toggle {
      color: white;
      font-weight: bolder;
      text-decoration: none;
    }
    .dropdown-menu {
      margin-left: -20px;
      a {
        padding: 0.75rem 1rem;
      }
    }
  }
}

.app-title {
  color: white;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 4.5rem;
}

.navigation {
  background-color: #eefbff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #00395e;
  }

  li {
    list-style: none;
  }

  .dropdown-toggle {
    font-weight: 700;
  }
}

.navbar {
  position: relative;
  display: block;
  width: 125px;
  z-index: 99;

  .dropbtn {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
  }

  .dropdown-content {
    position: absolute;
    background-color: white;
    width: 158px;
    right: -8px;
    top: 21px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

    ul {
      padding: 0;
    }
    li {
      list-style: none;
      a {
        display: block;
        padding: 12px 20px;
        color: #333;
        font-size: 14px;
      }
    }

    a:hover {
      background-color: #f5f5f5;
    }
  }
}
