/**********************
  HEADER
**********************/

.header {
  .gov-info {
    img {
      margin-top: 0;
      max-height: 18px;
      padding-top: 0;
    }

    .flag,
    .flag-copy {
      display: inline-block;
    }

    .flag {
    }
    .flag-copy {
      padding-left: 0.2rem;
    }
  }

  .navigation {
    background: $brand-secondary;

    a {
      &:link,
      &:visited {
        color: $white;
      }

      &:hover {
        background: none;
        color: darken($white, 20);
      }

      &:active {
        background: none;
      }
      &:focus {
        background: none;
      }
    }
    ul {
      background: $brand-secondary;
      color: $white;
    }

    .collapse {
      display: block;
    }
  }

  .nav .open > a {
    background: $brand-secondary;
  }

  .page-title {
    @extend .bg-primary-dark;
    padding: 0.6rem 0;
    width: 100%;

    h1 {
      @extend .text-white;
      @extend .text-bold;
    }
  }

  .usa-nav__primary > .usa-nav__primary-item > a,
  .usa-nav__primary > .usa-nav__primary-item > a:visited {
    text-decoration: underline;
    &:hover {
      color: darken($brand-primary, 20);
    }
  }
}
