/**********************
  HEADER
**********************/

.header {
  .logo {
    @extend .padding-left-9;
    @extend .padding-y-1;
    @extend .bg-primary;
  }
}

.app-title {
  @extend .text-white;
  @extend .text-bold;
  @extend .padding-y-3;
  @extend .padding-left-9;
}

.navigation {
  @extend .bg-primary-light;
  @extend .text-white;
  @extend .text-bold;
  @extend .padding-left-9;
  @extend .padding-y-1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;

  a {
    @extend .text-white;
  }

  .dropdown-toggle {
    background: #73b3e7 !important;
    @extend .text-white;
    @extend .text-bold;
  }

  .usa-link {
    color: #fff !important;
    @extend .font-alt-lg;
  }
}
