/**********************
  HEADER
**********************/

.header {
  .logo {
    background-color: #00395e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 2rem;

    .dropdown-toggle {
      color: white;
      font-weight: bolder;
      text-decoration: none;
    }
    .dropdown-menu {
      margin-left: -20px;
      a {
        padding: 0.75rem 1rem;
      }
    }
  }
}

.app-title {
  color: white;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 4.5rem;
}

.navigation {
  background-color: #eefbff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #00395e;
  }

  li {
    list-style: none;
  }

  .dropdown-toggle {
    font-weight: 700;
  }
}
