/**********************
  HEADER
**********************/

.header {
  .logo {
    @extend .padding-left-4;
    background-color: #00395e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

    .dropdown-toggle {
      color: white;
      font-weight: bolder;
      text-decoration: none;
    }
    .dropdown-menu {
      margin-left: -20px;
      a {
        padding: 0.75rem 1rem;
      }
    }
  }
}

.app-title {
  @extend .text-white;
  @extend .text-bold;
  @extend .padding-y-3;
  @extend .padding-left-9;
}

.navigation {
  background-color: #eefbff;
  @extend .text-bold;
  @extend .padding-y-1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #00395e;
  }

  li {
    list-style: none;
  }

  .dropdown-toggle {
    @extend .text-bold;
  }
}
