/**********************
  Layout
**********************/
.page-subheader {
  padding-bottom: 1.5rem;

  button {
    margin-right: 1rem;
  }
}

.list-display-container {
  ul {
    padding-left: 1.25rem;
  }
  li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    list-style-type: circle;

    a {
      font-weight: 600;
    }
  }
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
}

.main {
  position: relative;
  display: flex;
  z-index: 3;
  width: 100%;
  flex-grow: 1;
  padding: 2rem 2rem 4rem 2rem;
  flex-direction: column;
  align-items: center;

  .Home,
  .Signup,
  .addUserMain,
  .formTemplates,
  .generate-forms-container,
  .generate-totals-container,
  .Profile {
    max-width: $max-width-desktop;
    width: 100%;
  }

  .user-profiles,
  .page-quarterly,
  .formPage {
    max-width: 1200px;
  }
}

.instructions {
  font-style: italic;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.01rem;
}

.breadcrumbs {
  font-size: 1.04rem;
  font-style: italic;
  color: #565c65;
  text-decoration: underline !important;

  a {
    text-decoration: none;
  }
}

.formTemplates,
.formPage {
  width: 100%;
  max-width: $max-width-desktop;
}
