/**********************
  Layout
**********************/
.page-subheader {
  @extend .padding-bottom-3;

  button {
    @extend .margin-right-2;
  }
}

.list-display-container {
  ul {
    padding-left: 1.25rem;
  }
  li {
    @extend .padding-y-1;
    list-style-type: circle;

    a {
      font-weight: 600;
    }
  }
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
}

.main {
  position: relative;
  display: flex;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 4rem 2rem;
  flex-direction: column;
  align-items: center;

  .Home,
  .Signup,
  .addUserMain,
  .formTemplates,
  .generate-forms-container,
  .generate-totals-container,
  .Profile {
    max-width: $max-width-desktop;
    width: 100%;
  }

  .user-profiles,
  .page-quarterly,
  .formPage {
    max-width: 1200px;
  }
}

.instructions {
  @extend .text-italic;
  @extend .padding-y-2;
  @extend .font-mono-md;
}

.breadcrumbs {
  @extend .font-heading-md;
  @extend .text-italic;
  @extend .text-base-dark;
  text-decoration: underline !important;

  a {
    text-decoration: none;
  }
}

.formTemplates,
.formPage {
  width: 100%;
  max-width: $max-width-desktop;
}
