/**********************
  MAIN
**********************/

.quarterly-report-list {
  margin: 2.2rem 0;
}

.quarterly-items {
  li {
    list-style-type: none;
    margin: 0.6rem 0;
  }
}

.page-quarterly {
  width: 100%;
  max-width: $max-width-desktop;
}
