/**********************
  MAIN
**********************/

.main {
  margin: 1.2rem 0;
}

.breadcrumbs {
  color: $color-gray-light;
  font-size: 0.85rem;
  margin-bottom: 2.2rem;
}

.quarterly-report-list {
  margin: 2.2rem 0;
}

.quarterly-items {
  li {
    list-style-type: none;
    margin: 0.6rem 0;
  }
}
