// *** EXPORT TO PDF OVERRIDES
.export-to-pdf {
  .rdt_Table {
    width: 99%;
    margin: 0.5% 0.5%;
  }

  .rdt_TableCol_Sortable {
    color: #fff;
  }

  .rdt_TableRow {
    min-height: 72px;
  }

  .rdt_TableHead {
  }

  .rdt_TableHeader {
    display: none !important;
  }

  .rdt_TableHeadRow {
    .rdt_TableCol {
      @extend .bg-base-lightest;
      @extend .font-heading-lg;
      color: #fff;
      font-weight: bold;
      border: solid 1px #fff;
      text-align: center;

      :focus {
        outline: none;
        color: #fff;
      }

      :hover:not(:focus) {
        color: #fff;
      }
    }
  }

  .rdt_TableBody {
    background: red !important;
  }

  .rdt_ExpanderRow {
  }

  .rdt_TableFooter {
  }

  .rdt_TableCell {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: ridge 1px;
    @extend .font-body-md;
    word-break: break-all !important;
  }

  .exclude-from-pdf {
    display: none !important;
  }

  .data-table-extensions {
    display: none !important;
  }
}
