/**
  * Contains Print media query AND print page
 */

@media print {
  textarea,
  .breadcrumbs,
  .header,
  button {
    display: none !important;
  }

  .ds-c-usa-banner,
  .footer,
  .navigation {
    display: none;
  }

  input[type="text"],
  input[type="text"]:disabled {
    background-color: transparent;
    border: none;
  }

  .question-component {
    padding-top: 0;
    break-inside: avoid;
    border-top: none;
  }

  .tab-container-main {
    padding: 0;
  }

  .age-range-description {
    page-break-before: always;
  }
  .age-range-description:first-of-type {
    page-break-before: avoid;
  }

  .app-title {
    display: block;
    font-size: 1.6rem;
    margin: 0 0 0 0;
    padding: 0 3.5rem 0 0;
  }

  .print-only {
    display: block;
  }
  .print-button {
    display: none !important;
  }

  .exclude-from-pdf {
    display: none !important;
  }
}
