/**********************
  TABS
**********************/

.react-tabs {
  .react-tabs__tab {
    border-radius: 0;
    border: 1px solid $alto;
    border-right: none;
    padding: 0.8rem 1.2rem 0.6rem;

    &:last-of-type {
      border-right: 1px solid $alto;
    }

    &:hover {
      background-color: $alto;
    }
  }

  .react-tabs__tab--selected {
    border-radius: 0;
    border-top: 5px solid $lochmara;
    color: $lochmara;
    font-weight: $font-weight-bold;
    padding: 0.6rem 1.2rem;
  }

  .react-tabs__tab-list {
    margin-bottom: 0;
  }

  .react-tabs__tab-panel {
    border: 1px solid $alto;
    border-top: none;
    padding: 2.2rem;
  }
}

.certify-btn {
  margin-top: 1.2rem;

  button {
    font-size: 1.2rem;
    line-height: 1.4rem;
    min-width: 180px;
    padding: 0.8rem;
    margin-right: 1.5rem;
  }
}
