table.quarterly-forms,
table.user-list {
  border-collapse: collapse;
  width: 100%;

  caption {
    font-size: 1.1rem;
    font-weight: bold;
    color: black; /* Bootstrap thinks all captions should be gray. Wild. */
  }
  td,
  th {
    padding: 1rem;
    font-size: 16px;
    border: thin solid $black;
  }

  th {
    background-color: $alto;
  }

  td {
    p {
      margin: 0;
    }
  }
}
