li.usa-card {
  list-style-type: none !important;
}

.usa-card__container {
  box-shadow: 5px 10px 8px #888888;
}

.usa-button {
  border: outset 2px;
}

.usa-table {
  box-shadow: 5px 10px 8px #888888;
}
