li.usa-card {
  list-style-type: none !important;
}

.usa-card__container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;
  margin: 0;
}

.usa-button {
  border: outset 2px;
}

.usa-table {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;
}

.usa-nav__primary-item {
  a {
    color: #fff !important;
    @extend .font-heading-lg;
    @extend .padding-y-5;
  }
}

.usa-textarea {
  max-width: 100% !important;
}
