li.usa-card {
  list-style-type: none !important;
}

.usa-card__container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;
  margin: 0;
}

.usa-nav__primary-item {
  a {
    color: #fff !important;
    @extend .font-heading-lg;
    @extend .padding-y-5;
  }
}

.usa-textarea {
  max-width: 100% !important;
  border-color: #262626;
  border-width: 2px;
}

.usa-accordion {
  button {
    font-weight: normal;
  }
  .usa-accordion__content {
    border-width: 1px;

    ul {
      padding: 0;
      font-size: 16px;
    }
  }
}
