/**********************
  Variables
**********************/

/* Colors */
$black: #262626;
$white: #fff;

$lily-white: #e1f3f8;
$alto: #f2f2f2;

$cerulean-blue: #3366cc;
$endeavor: #00395e;
$lochmara: #0071bc;
$pacific-blue: #00a6d2;
$cornflower: #86bce0;
$sea-green: #2e8540;
$ocean-green: #4aa564;
$dixie: #e4a61b;
$cerulean: #00a6d2;
$bahama: #046b99;

$bombay: #aeb0b5;
$shuttle-gray: #5b616b;
$bright-gray: #323c47;
$masala: #3f3f3f;

$brand-primary: $endeavor;
$brand-secondary: $cerulean-blue;
$brand-tertiary: $alto;
$brand-quaternary: $sea-green;
$brand-quinary: $pacific-blue;
$brand-senary: $ocean-green;

$color-font: $black;
$color-hint: $shuttle-gray;

$color-gray: $masala;
$color-gray-dark: $bright-gray;
$color-gray-light: $shuttle-gray;
$color-gray-lightest: #f1f1f1;

$color-icon: #7b7b7b;

/* Padding/Margin */
$padding: 8px;
$margin: 8px;

/* Border */
$border-width: 4px;
$border-radius: 2px;

/* Fonts */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$bg-primary-light: #eefbff;

$max-width-desktop: 46rem;
