.radius-pill {
  border-radius: 99rem;
}
.font-body-sm {
  font-size: 1.06rem;
}
.padding-left-4 {
  padding-left: 2rem;
}
.text-white {
  color: white;
}
.text-bold {
  font-weight: 700;
}
.padding-y-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.padding-left-9 {
  padding-left: 4.5rem;
}
.padding-y-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.font-alt-lg {
  font-size: 1.34rem;
}
.padding-bottom-3 {
  padding-bottom: 1.5rem;
}
.margin-right-2 {
  margin-right: 1rem;
}
.text-italic {
  font-style: italic;
}
.padding-y-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.font-mono-md {
  font-size: 1.01rem;
}
.font-heading-md {
  font-size: 1.04rem;
}
.text-base-dark {
  color: #565c65;
}

//global changes
.ds-c-accordion {
  margin: 2rem 0;
}

.quarterly-items {
  li {
    list-style-type: none;
  }
}

h1 {
  font-size: 32px;
  margin: 40px 0 20px;
}

h2 {
  font-size: 30px;
  margin: 0.8rem 0;
}

h3 {
  font-size: 24px;
  margin: 0.8rem 0;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Open Sans", sans-serif;
//   margin: 0.8rem 0 0.8rem 0;
// }

caption {
  font-size: 1.1rem;
  font-weight: bold;
  color: black; /* Bootstrap thinks all captions should be gray. Wild. */
  text-align: left;
  padding: 8px 0;
}

table:not(.unstyled) {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 1rem;
    font-size: 16px;
    border: thin solid $black;
  }

  th {
    background-color: $alto;
  }

  td {
    p {
      margin: 0;
    }
  }

  .print {
    text-align: center;
    font-size: 2.44rem;
  }
}

.unstyled {
  border: 1px solid black;
  border-width: 1px 0;
  th,
  td {
    padding: 8px 16px;
  }
}

button {
  svg {
    margin-left: 20px;
  }
}

.form-status-pill {
  text-align: center;
  color: white;
  background-color: #0071bc;
  border-radius: 1.5rem;
  width: 10rem;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  line-height: 1.1rem;
  font-weight: bold;
}

//page specifica changes
#login {
  form {
    width: 424px;
  }
  .ds-c-field,
  button {
    height: 40px;
    width: 100%;
  }

  button {
    margin: 4rem 0;
  }
}

.Home {
  p:first-of-type {
    padding: 16px 0;
  }
}
