$mdct-gray: #f2f2f2;
$mdct-dark-gray: #71767a;
$mdct-light-blue: #e6f9fd;
$mdct-white: #fff;

.grid-header {
  border: solid 1px #000;
  width: 20%;
  padding: 1em;
  text-align: center;
}

.gre-grid-with-totals {
  th {
    font-weight: bold;
    background: $mdct-gray !important;

    span {
      display: block;
      width: 70px;
    }
  }

  tr th:first-child {
    font-weight: bold;
  }

  .total-header-cell {
    background: $mdct-dark-gray !important;
    color: $mdct-white;
  }

  .total-column {
    background: $mdct-light-blue;
    font-weight: bold;
  }
}
