service: database

frameworkVersion: "2"

plugins:
  - serverless-dynamodb-local

custom:
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}
  dynamodb:
    stages:
      - local
    start:
      port: 8000
      inMemory: true
      migrate: true
      seed: true
    seed:
      domain:
        sources:
          - table: ${self:custom.stage}-forms
            sources: [../../src/database/initial_data_load/forms.json]
          - table: ${self:custom.stage}-age-ranges
            sources: [../../src/database/initial_data_load/age_ranges.json]
          - table: ${self:custom.stage}-status
            sources: [../../src/database/initial_data_load/status.json]

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  versionFunctions: true

resources:
  Resources:
    AgeRangesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.stage}-age-ranges
        AttributeDefinitions:
          - AttributeName: age_range
            AttributeType: S
        KeySchema:
          - AttributeName: age_range
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    FormAnswersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.stage}-form-answers
        AttributeDefinitions:
          - AttributeName: answer_entry
            AttributeType: S
        KeySchema:
          - AttributeName: answer_entry
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    FormQuestionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.stage}-form-questions
        AttributeDefinitions:
          - AttributeName: question
            AttributeType: S
        KeySchema:
          - AttributeName: question
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    FormsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.stage}-forms
        AttributeDefinitions:
          - AttributeName: form
            AttributeType: S
        KeySchema:
          - AttributeName: form
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    StateFormsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.stage}-state-forms
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
        AttributeDefinitions:
          - AttributeName: state_form
            AttributeType: S
        KeySchema:
          - AttributeName: state_form
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    StatesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.stage}-states
        AttributeDefinitions:
          - AttributeName: state_id
            AttributeType: S
        KeySchema:
          - AttributeName: state_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
    StatusTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.stage}-status
        AttributeDefinitions:
          - AttributeName: status
            AttributeType: S
        KeySchema:
          - AttributeName: status
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST # Set the capacity to auto-scale
  Outputs:
    AgeRangesTableName:
      Value: !Ref AgeRangesTable
    AgeRangesTableArn:
      Value: !GetAtt AgeRangesTable.Arn
    FormAnswersTableName:
      Value: !Ref FormAnswersTable
    FormAnswersTableArn:
      Value: !GetAtt FormAnswersTable.Arn
    FormQuestionsTableName:
      Value: !Ref FormQuestionsTable
    FormQuestionsTableArn:
      Value: !GetAtt FormQuestionsTable.Arn
    FormsTableName:
      Value: !Ref FormsTable
    FormsTableArn:
      Value: !GetAtt FormsTable.Arn
    StateFormsTableName:
      Value: !Ref StateFormsTable
    StateFormsTableArn:
      Value: !GetAtt StateFormsTable.Arn
    StateFormsTableStreamArn:
      Value: !GetAtt StateFormsTable.StreamArn
    StatesTableName:
      Value: !Ref StatesTable
    StatesTableArn:
      Value: !GetAtt StatesTable.Arn
    StatusTableName:
      Value: !Ref StatusTable
    StatusTableArn:
      Value: !GetAtt StatusTable.Arn

    Region:
      Value: !Sub ${AWS::Region}
