.applicable-wrapper {
  legend {
    /* This style is overriding bootstrap's legend rules. */
    border-bottom: initial;
    /* This style is overriding bootstrap's legend rules. */
    margin-bottom: initial;

    /*
     * This style is here because the .usa-legend margin-top isn't
     * actually giving me any space between this and the Print button.
     */
    padding-top: 1.5rem;

    /* All of our form questions are bold, so this one is too. */
    font-weight: bold;
  }
}
