.export-to-pdf {
  .rdt_TableCol:last-child {
    display: none !important;
  }

  .rdt_TableCell:last-child {
    display: none !important;
  }
}

.filter-controls {
  margin: 0.5rem;
  float: right;

  input[type="search"] {
    float: none;
  }
}