.form-status {
  padding-left: 45px;
}

.form-name {
  text-align: left;
}

.summary-notes {
  padding: 3rem 0;
  display: block;
  border-top: 1px solid black;
}

.summary-text {
  border: 1px solid black;
  width: 100%;
  min-height: 6rem;
  margin: 1rem auto 0 auto;
  padding: 1.2rem;
}

.loader {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.loader-content {
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  left: calc(50% - 120px);
  padding: 1.2rem;
  position: absolute;
  text-align: center;
  top: calc(50% - 80px);
}
.loader-icon {
  animation: spin 2s linear infinite;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3366cc;
  height: 40px;
  margin-left: calc(50% - 16px);
  width: 40px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
