.form-status {
  padding-left: 45px;
}

@media print {
  textarea {
    display: none !important;
  }
  .print-button {
    display: none !important;
  }
  .action-buttons,
  .ds-c-alert,
  .footer,
  .header,
  .nav-buttons,
  .print-all-btn,
  .print-directions,
  .screen-only,
  .sidebar {
    display: none;
  }

  .content {
    min-width: 100%;
  }

  .ds-c-tabs__panel {
    border: none;
    display: block;
  }

  .fill-form {
    display: none;
  }

  .question-component {
    display: block;
  }

  .grid-with-totals {
    max-width: 80%;
    max-height: 10%;
  }
}
