.form-status-pill {
  text-align: center;
  color: white;
  background-color: #0071bc;
  border-radius: 1.5rem;
  width: 10rem;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  line-height: 1.1rem;
  font-weight: bold;
}
