$image-path: "~@cmsgov/design-system/dist/images";
@use "@cmsgov/design-system/dist/css/index";
@use "@cmsgov/design-system/dist/css/core-theme";

@import "../../additional-scss/variables";
@import "../../additional-scss/globals";
@import "../../additional-scss/header";
@import "../../additional-scss/footer";
@import "../../additional-scss/print";
