.login-button {
  width: 100% !important;
}

.action-button-row {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}

.login-wrapper {
  width: 100%;
  max-width: 424px;
  form {
    label {
      width: 100%;
      text-align: left;
    }
    .form-control {
      width: 100%;
    }
  }
}
