name: style checks

on: [pull_request]

jobs:
  prettier:
    name: prettier has been run on compatible files
    runs-on: ubuntu-latest
    container: node:14
    steps:
      - uses: actions/checkout@v2
      - name: check that modified files are prettier
        run: npx prettier --write .
  eslint:
    name: frontend linting
    runs-on: ubuntu-latest
    container: node:14
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        working-directory: services/ui-srcv
        run: yarn install
      - name: run eslint
        working-directory: services/ui-src
        run: npx eslint .
